<a href="https://colab.research.google.com/github/themathedges/3YP-Standalone-Kennington/blob/main/Ravi/Final_notebooks/OctopusOutgoingAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Octopus Outgoing Price Analysis

**Author:** Ravi Kohli

**Date:** 19/02/2021

**Goal:** The goal of this notebook is to:
- Analyse the pricing data from the Octopus Outgoing tariff such that we can set a minimum price level for our tariffs

In [ ]:
# Mounting the Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# import the modules
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [ ]:
# import the price data
path = '/content/drive/MyDrive/3YP/data/'
filename = 'outgoing_rates.xlsx - South Eastern.csv'
price_df = pd.read_csv(path + filename)
#price_df['local_time_datetime'] = pd.to_datetime(price_df['local_time'], errors='coerce')
price_df['local_time'] = price_df['local_time'].apply(lambda x: pd.Timestamp(x))

In [ ]:
# define the timings for the different times
morning_end = pd.Timestamp(year = 2018, month = 1, day = 1, hour = 7)
evening_start =  pd.Timestamp(year = 2018, month = 1, day = 1, hour = 16)
evening_end =  pd.Timestamp(year = 2018, month = 1, day = 1, hour = 22, minute=30)

In [ ]:
# define the masks
evening_mask = [True if ((price_df['local_time'][i].time() < evening_end.time() ) & (price_df['local_time'][i].time() >= evening_start.time())) else False for i in range(len(price_df)) ]
afternoon_mask = [True if ((price_df['local_time'][i].time() < evening_start.time() ) & (price_df['local_time'][i].time() >= morning_end.time())) else False for i in range(len(price_df)) ]
morning_mask = [True if ((price_df['local_time'][i].time() < morning_end.time() ) | (price_df['local_time'][i].time() >= evening_end.time())) else False for i in range(len(price_df)) ]

In [ ]:
# extract those dfs
evening_df = price_df.loc[evening_mask]
morning_df = price_df.loc[morning_mask]
afternoon_df = price_df.loc[afternoon_mask]

In [ ]:
print("         Morning Data Frame")
morning_df.describe()

         Morning Data Frame

       Outgoing Agile Rate (p/kWh)
count                  8496.000000
mean                      5.608525
std                       0.917556
min                       0.050000
25%                       5.050000
50%                       5.520000
75%                       6.170000
max                      12.740000

In [ ]:
print("         Afternoon Data Frame")
afternoon_df.describe()

         Afternoon Data Frame

       Outgoing Agile Rate (p/kWh)
count                  9000.000000
mean                      6.325920
std                       1.216465
min                       2.970000
25%                       5.430000
50%                       6.280000
75%                       7.020000
max                      17.910000

In [ ]:
print("         Evening Data Frame")
evening_df.describe()

         Evening Data Frame

       Outgoing Agile Rate (p/kWh)
count                  6500.000000
mean                     10.582731
std                       4.348780
min                       4.200000
25%                       6.650000
50%                       8.640000
75%                      14.630000
max                      36.810000

In [ ]:
print("         Whole Year Data Frame")
price_df.describe()

         Whole Year Data Frame

       Outgoing Agile Rate (p/kWh)
count                 23996.000000
mean                      7.224998
std                       3.202776
min                       0.050000
25%                       5.370000
50%                       6.190000
75%                       7.310000
max                      36.810000

Exporting the data to csv so it can be uploaded to GitHub

In [ ]:
price_df.columns = ['Date_Time', 'Outgoing Agile Rate (p/kWh)']

In [ ]:
price_df.to_csv('/content/drive/MyDrive/3YP/data/demand_response_final/octopus_outgoing_2018_SE.csv', index = False, header = True)