<a href="https://colab.research.google.com/github/themathedges/3YP-Standalone-Kennington/blob/main/Ravi/Preprocessing_notebooks/Met_office_data_daily_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Met Office Data Daily Processing

**Author:** Ravi Kohli

**Date:** January 5th, 2021

**College:** Christ Church

**Goal:**
- Write a script to analyse and collect the Met Office data and put it into a dataframe

In [ ]:
# Mounting the Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# import the modules
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from scipy.stats import pearsonr
import pickle

In [ ]:
# Retrieving the precipitation data
path = '/content/drive/My Drive/3YP/data/met_office/'    # when running in a notebook in colab

# put the name of the file
filename = "daily_upstream3_precipitation_data/daily_precipitation_upstream3_2242 - Sheet1.csv"
#filename = "daily_upstream2_precipitation_data/daily_precipitation_upstream3_2242 - Sheet1.csv"
df = pd.read_csv(path+filename, error_bad_lines = False)               # converting the csv file to a dataframe

In [ ]:
df

             Date  Precipitation rate (mm/day)(HadREM3-GA705-r001i1p02242)
0      1980-12-01                                           0.034366
1      1980-12-02                                           0.705222
2      1980-12-03                                           2.868936
3      1980-12-04                                           0.157865
4      1980-12-05                                           1.123900
...           ...                                                ...
25225  2050-12-26                                           0.002720
25226  2050-12-27                                           6.750660
25227  2050-12-28                                           3.676629
25228  2050-12-29                                           0.092938
25229  2050-12-30                                           0.029777

[25230 rows x 2 columns]

In [ ]:
df.head(20)

          Date  Precipitation rate (mm/day)(HadREM3-GA705-r001i1p02242)
0   1980-12-01                                           0.034366
1   1980-12-02                                           0.705222
2   1980-12-03                                           2.868936
3   1980-12-04                                           0.157865
4   1980-12-05                                           1.123900
5   1980-12-06                                          17.641254
6   1980-12-07                                           0.000053
7   1980-12-08                                           0.133188
8   1980-12-09                                           0.843602
9   1980-12-10                                           0.152200
10  1980-12-11                                           0.001331
11  1980-12-12                                           0.013425
12  1980-12-13                                           3.303699
13  1980-12-14                                           1.924283
14  1980-12-15                                           5.496599
15  1980-12-16                                           2.905026
16  1980-12-17                                           0.799422
17  1980-12-18                                           0.286896
18  1980-12-19                                           0.189600
19  1980-12-20                                           0.002705

In [ ]:
df.columns = ['Date', 'Precipitation']

# convert the data types
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Precipitation'] = pd.to_numeric(df['Precipitation'])

In [ ]:
# remove the rows which have a NaT in the date column
df_columns = df[pd.notnull(df['Date'])]

In [ ]:
df_columns

            Date  Precipitation
0     1980-12-01       0.034366
1     1980-12-02       0.705222
2     1980-12-03       2.868936
3     1980-12-04       0.157865
4     1980-12-05       1.123900
...          ...            ...
25225 2050-12-26       0.002720
25226 2050-12-27       6.750660
25227 2050-12-28       3.676629
25228 2050-12-29       0.092938
25229 2050-12-30       0.029777

[25107 rows x 2 columns]

In [ ]:
df_columns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25107 entries, 0 to 25229
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           25107 non-null  datetime64[ns]
 1   Precipitation  25107 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 588.4 KB

In [ ]:
# pickel the dataframe
path = '/content/drive/My Drive/3YP/data/met_office/'
filename_real = 'precip_2242_upstream3_met_daily'
outfile_real = open(path+filename_real, 'wb')
pickle.dump(df_columns, outfile_real)
outfile_real.close()